@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-inline: 32px;
}

@media (min-width: 768px) {
  .Container {
    padding-inline: 39px;
  }
}

@media (min-width: 1200px) {
  .Container {
    max-width: 1110px;
    padding-inline: 0;
  }
}

.font-real-nova {
  font-family: "Ibarra Real Nova", serif;
}

.font-sans-sarif {
  font-family: "Public Sans", sans-serif;
}

@media (max-width: 760px) {
  .nav {
    position: fixed;
    top: 70px;
    right: 32px;
    z-index: 100;
    width: 0;
    display: none;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 40px;
  }

  .nav-checkbox:checked ~ .nav {
    display: block;
    width: 223px;
    height: 186px;
    background-color: #33323d;
  }

  .nav-icon {
    position: relative;
    margin-top: 15px;
  }

  .nav-item {
    font-size: 12px;
    cursor: pointer;
    color: white;
    text-align: center;
  }

  .nav-btn {
    z-index: 200;
    cursor: pointer;
  }
  .nav-checkbox:checked + label .open {
    display: none;
  }

  .nav-checkbox:checked + label .close {
    display: inline-block;
  }
}
